.timer{
    background: tomato;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}